# Validator variables
ADDRBOOK_URL=<set url addressbook (Optional)>
CHAIN_ID=<set chain_id>
CONFIG_PATH=/root/.artelad
DIFF_HEIGHT=1000
GENESIS_URL=https://docs.artela.network/assets/files/genesis-697a2db4ef7e20dbdb8bdc1cd9d1633a.json
WALLET=<set wallet name>
WALLET_PASS=<set wallet password (password must be at least 8 characters)> 
KEYRING=file
LOGLEVEL=info
METRICS_PORT=<set prometheus port>
MONIKER=<set moniker name>
PEERS=<set peers address>
P2P_PORT=<set p2p port>
RPC_PORT=<set rpc port>
RPC=http//47.251.14.47:26657
SEEDS=211536ab1414b5b9a2a759694902ea619b29c8b1@47.251.14.47:26656,d89e10d917f6f7472125aa4c060c05afa78a9d65@47.251.32.165:26656,f559f47a4199a06d53f274ae720042f3809a6ec0@47.251.54.123:26656,ff30114dc4ac73b25723e9f3d41bbe1bdd4242ee@47.251.14.108:26656
STATE_SYNC=<set the flag (true|false)>
TOKEN=art
